img {
  max-height: 100%;
  max-width: 100%;
}

/* Deprecated. */
.place-score {
  border-left: 1px solid #e6e6e6;
}

/* Deprecated. */
.place-score-ring {
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* Deprecated. */
.place-score-ring-yellow {
  background-color: white;
  border: 6px solid #ffc107;
}

/* Deprecated. */
.place-score-ring-core {
  text-align: center;
}

/* Deprecated. */
.place-score-tagline {
  text-align: center;
}
