.blockquote {
  font-size: 0.99rem; 
}

container {
  max-width: 1024px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.list-subgroup {
  list-style: none;
  margin-bottom: 12px;
  margin-top: 4px;
}

.list-subgroup-item {
}

#map {
  height: 80vh;
}

.navbar {
  margin-bottom: 12px; 
}

.place {
  height: 160px;
}

.place-icon {
  width: 24px; 
}

.place-name {
  padding-top: 8px; 
}

.place-review-content {
  background-color: #f8f9fa;
  margin: 0px 6px 12px 6px;
  text-align: left !important;
}

.place-review-content-1 {
  border-left: #dc3545 solid 6px;
}

.place-review-content-2 {
  border-left: #fd7e14 solid 6px;
}

.place-review-content-3 {
  border-left: #198754 solid 6px;
}

.place-review-content-4 {
  border-left: #6f42c1 solid 6px;
}

.place-review-blockquote {
  padding-top: 8px;
}

.place-reviews {
  margin-bottom: 12px; 
}

.sidebar {
}
